<% @page_category = 'mypage' %>

<!-- メイン -->
<div class="pt-5 pb-5 container">
  <div class="p-3 pt-5">
    <h3>お気に入り一覧</h3>
  </div>

  <p id="notice"><%= notice %></p>

  <table class="table">
    <% @favorites.each do |favorite| %>
      <tr>
        <td rowspan="1"><%= image_tag(favorite.book.largeimage_url, :class => "img-thumbnail") %></td><td>
        <b><%= favorite.book.title %></b><br>
        <span class="text-danger">¥ <%= favorite.book.price %>円</span><br>
        <%= favorite.book.publisher %><br>
        <%= favorite.book.sales_date %><br>
        <%= link_to('ストアで見る', favorite.book.item_url, target: :_blank) %><br>
        <%= link_to 'お気に入り削除', favorite, method: :delete, data: { confirm: '本当に削除してもよろしいですか？' } %><br>
        <span class="text-warning"><%= favorite.user.username %></span> さんのお気に入り
        </td>
      </tr>
    <% end %>
  </table>

</div>
