<!-- ナビゲーション（ほぼ共通） -->
<nav class="navbar navbar-expand-lg navbar-dark bg-info fixed-top">
  <a class="navbar-brand" href="#">Book Search</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">トップ</a>
      </li>
      <li class="nav-item active">
        <%= link_to '書籍検索', search_index_path, :class => "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'マイページ', mypage_index_url, :class => "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to '管理画面', manage_console_index_url, :class => "nav-link" %>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">ログイン／ログアウト</a>
      </li>
    </ul>
  </div>
</nav>


<!-- メイン -->
<div class="pt-5 pb-5 container">
  <div class="p-3 pt-5">
    <h3>書籍検索</h3>
  </div>

  <%= form_tag({ controller: :search, action: :search }) do %>
    <div class="p-3 pt-3 form-inline">
      <label for="keywd" class="col-form-label">検索キーワード</label>
      <%= text_field_tag :keywd, '', :size => 20, :class => "ml-3 form-control" %>
      <%= submit_tag '検索', :class => "ml-3 btn btn-info" %>
    </div>
  <% end %>

  <table class="table">
  <% if @books.present? %>
    <% @books.each_with_index do |book, i| %>
      <tr>
        <td rowspan="3"><%= image_tag(book.largeimage_url, :class => "img-thumbnail") %></td>
        <td colspan="3"><%= book.title %></td>
        <td><%= link_to('ストア', book.item_url, target: :_blank) %></td>
      </tr>
      <tr>
        <td colspan="2"><%= book.author %></td>
        <td><%= book.publisher %></td>
        <td>
        <%= button_to "お気に入り", {controller: :search, action: :favorite}, {method: :post, :remote => true, :class => "ml-3 btn btn-info",
            params: {index: i, title: book.title, price: book.price, author: book.author, publisher: book.publisher, isbn: book.isbn, caption: book.caption, sales_date: book.sales_date, item_url: book.item_url, largeimage_url: book.largeimage_url}} %>
        </td>
        <td>お気に入り</td>
      </tr>
      <tr>
        <td><%= book.price %>円</td>
        <td><%= book.sales_date %></td>
        <td></td>
        <td>ウォッチ</td>
      </tr>
    <% end %>
  <% else %>
    検索結果はありません
  <% end %>
  </table>

</div>

<%#= debug @books.inspect %>
<%#= @message %>
