<% @page_category = 'search' %>

<!-- メイン -->
<div class="pt-5 pb-5 container">
  <div class="p-3 pt-5">
    <h3>書籍検索</h3>
  </div>

  <%= form_tag({ controller: :search, action: :search }) do %>
    <div class="p-3 pt-3 form-inline">
      <label for="genre" class="col-form-label">ジャンル</label>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <%= select_tag 'genre', options_for_select(get_genres, params[:genre]) %>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <label for="keywd" class="col-form-label">検索キーワード</label>
      <%= text_field_tag :keywd, params[:keywd], :size => 20, :class => "ml-3 form-control" %>
      <%= submit_tag '検索', :class => "ml-3 btn btn-info" %>
    </div>
  <% end %>

  <% if @books.present? %>
    <table class="table">
      <% @books.each_with_index do |book, i| %>
        <tr>
          <td rowspan="3"><%= image_tag(book.largeimage_url, :class => "img-thumbnail") %></td>
          <td colspan="4"><%= book.title %></td>
        </tr>
        <tr>
          <td colspan="2"><%= book.author %></td>
          <td><%= book.publisher %></td>
          <td>
          <%= button_to "お気に入り", {controller: :search, action: :favorite}, {method: :post, :remote => true, :class => "ml-3 btn btn-info",
              params: {index: i, title: book.title, genres: book.genres, price: book.price, author: book.author, publisher: book.publisher, isbn: book.isbn, caption: book.caption, sales_date: book.sales_date, item_url: book.item_url, largeimage_url: book.largeimage_url}} %>
          </td>
        </tr>
        <tr>
          <td><%= book.price %>円</td>
          <td><%= book.sales_date %></td>
          <td><%= link_to('ストア', book.item_url, target: :_blank) %></td>
          <td>
          <%#= button_to "ウォッチ", {controller: :search, action: :watch}, {method: :post, :remote => true, :class => "ml-3 btn btn-info",
              params: {index: i, title: book.title, genres: book.genres, price: book.price, author: book.author, publisher: book.publisher, isbn: book.isbn, caption: book.caption, sales_date: book.sales_date, item_url: book.item_url, largeimage_url: book.largeimage_url}} %>
          </td>
        </tr>
      <% end %>
    </table>
    <div class="btn-toolbar">
      <div class="mx-auto btn-group">
        <% if @page.to_i > 1 %>
          <%= button_to "Prev", {controller: :search, action: :search}, {method: :post, :class => "ml-3 btn btn-primary",
              params: {keywd: @keywd, page: @page.to_i - 1}} %>
        <% end %>
        <% if @page.to_i < @result["pageCount"].to_i %>
          <%= button_to "Next", {controller: :search, action: :search}, {method: :post, :class => "ml-3 btn btn-primary",
              params: {keywd: @keywd, page: @page.to_i + 1}} %>
        <% end %>
        <br><br>
      </div>
    </div>
  <% else %>
    検索結果はありません
  <% end %>

</div>

<%#= debug @books.inspect %>
<%#= @message %>
