<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </div>


  <div class="field">
    <%= form.label :role %>
    <%= form.number_field :role %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :fcm_token %>
    <%= form.text_field :fcm_token %>
  </div>

  <div class="field">
    <%= form.label :enable_email_notify %>
    <%= form.check_box :enable_email_notify %>
  </div>

  <div class="field">
    <%= form.label :enable_fcm_notify %>
    <%= form.check_box :enable_fcm_notify %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
