<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= form.label :username, 'ユーザー名', :class => "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :username, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :password, 'パスワード', :class => "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
    <%= form.password_field :password, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :password_confirmation, 'パスワード（再）', :class => "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
    <%= form.password_field :password_confirmation, :class => "form-control" %>
    </div>
  </div>

<!--
  <div class="form-group row">
    <%= form.label :role, :class => "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
    <%= form.number_field :role, :class => "form-control" %>
    </div>
  </div>
-->

  <div class="form-group row">
    <%= form.label :email, 'メールアドレス', :class => "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
    <%= form.text_field :email, :class => "form-control" %>
    </div>
  </div>

<!-- 
  <div class="form-group row">
    <%= form.label :fcm_token, :class => "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
    <%= form.text_field :fcm_token, :class => "form-control" %>
    </div>
  </div>
-->

  <div class="form-group row">
    <%= form.label :enable_email_notify, 'メール通知許可', :class => "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
    <%= form.check_box :enable_email_notify, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :enable_fcm_notify, 'FCM通知許可', :class => "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
    <%= form.check_box :enable_fcm_notify, :class => "form-control" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit '保存', :class => "ml-3 btn btn-info" %>
  </div>
<% end %>
