<!-- メイン -->
<div class="pt-5 pb-5 container">
  <div class="p-3 pt-5">
    <h3>ユーザー詳細</h3>
  </div>

  <p id="notice"><%= notice %></p>

  <p>
    <strong>ユーザー名:</strong>
    <%= @user.username %>
  </p>

  <p>
    <strong>パスワードダイジェスト:</strong>
    <%= @user.password_digest %>
  </p>

  <p>
    <strong>権限:</strong>
    <%= @user.role %>
  </p>

  <p>
    <strong>メールアドレス:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>FCMトークン:</strong>
    <%= @user.fcm_token %>
  </p>

  <p>
    <strong>メール通知許可:</strong>
    <%= @user.enable_email_notify %>
  </p>

  <p>
    <strong>FCM通知許可:</strong>
    <%= @user.enable_fcm_notify %>
  </p>

  <%= link_to 'ユーザー情報の編集', edit_user_path(@user) %>

</div>