<%= form_with(model: keyword, local: true) do |form| %>
  <% if keyword.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(keyword.errors.count, "error") %> prohibited this keyword from being saved:</h2>

      <ul>
      <% keyword.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :user_id, :value => @current_user.id %>
  </div>

  <div class="form-group row">
    <%= form.label :keyword, 'キーワード', :class => "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :keyword, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :genre, 'ジャンル', :class => "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.select 'genre', get_genres, :selected => '001005', :class => "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :item_count, '検索ヒット数', :class => "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.number_field :item_count, :value => 0, :class => "form-control" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit '保存', :class => "ml-3 btn btn-info" %>
  </div>
<% end %>
