<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @keyword.user %>
</p>

<p>
  <strong>Item count:</strong>
  <%= @keyword.item_count %>
</p>

<%= link_to 'Edit', edit_keyword_path(@keyword) %> |
<%= link_to 'Back', keywords_path %>
