<!DOCTYPE html>
<html>
  <head>
    <title>Booksearch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <%= render 'layouts/nav' %>
    <%= yield %>

    <!-- フッタ（全ページ共通） -->
    <footer class="footer mt-auto py-3 fixed-bottom text-right">
      <div class="container">
        <!-- Rakuten Web Services Attribution Snippet FROM HERE -->
        <a href="https://webservice.rakuten.co.jp/" target="_blank"><img src="https://webservice.rakuten.co.jp/img/credit/200709/credit_22121.gif" border="0" alt="楽天ウェブサービスセンター" title="楽天ウェブサービスセンター" width="221" height="21"/></a>
        <!-- Rakuten Web Services Attribution Snippet TO HERE -->
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="text-muted">Copyright XXX. &nbsp;&nbsp;ver 0.1</span>
      </div>
    </footer>

  </body>
</html>
